<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
]>
<root id="-1">
  <startPage id="1058" key="ce282ce1-2dd0-4cdb-ac5a-cfe5c5ca7031" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-21T11:24:53" updateDate="2017-02-21T11:24:53" nodeName="Home" urlName="home" path="-1,1058" isDoc="" nodeType="1055" creatorName="Toke Frostholm" writerName="Toke Frostholm" writerID="0" template="1054" nodeTypeAlias="startPage">
    <title><![CDATA[Home]]></title>
    <metaKeywords><![CDATA[meta keywords go here]]></metaKeywords>
    <metaDescription><![CDATA[meta description goes here]]></metaDescription>
    <hideInNavigation>0</hideInNavigation>
    <contentPage id="1060" key="9c72e589-239d-4b06-88b2-2d56decdfbe7" parentID="1058" level="2" creatorID="0" sortOrder="0" createDate="2017-02-21T11:47:31" updateDate="2017-02-21T12:21:50" nodeName="Products" urlName="products" path="-1,1058,1060" isDoc="" nodeType="1057" creatorName="Toke Frostholm" writerName="Toke Frostholm" writerID="0" template="1056" nodeTypeAlias="contentPage">
      <title><![CDATA[Products]]></title>
      <hideInNavigation>0</hideInNavigation>
      <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "100%",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "This is the headline",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "a81507a7-9391-a749-ae49-d22559fb069d",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></contentGrid>
    </contentPage>
    <newsOverview id="1068" key="a75166c2-8ae6-47e4-83fb-c96c4451ea85" parentID="1058" level="2" creatorID="0" sortOrder="1" createDate="2017-02-21T12:48:56" updateDate="2017-02-21T12:48:56" nodeName="News Overview" urlName="news-overview" path="-1,1058,1068" isDoc="" nodeType="1062" creatorName="Toke Frostholm" writerName="Toke Frostholm" writerID="0" template="1061" nodeTypeAlias="newsOverview">
      <title><![CDATA[News Overview]]></title>
      <hideInNavigation>0</hideInNavigation>
    </newsOverview>
  </startPage>
</root>